@import "../base/sass";

footer {
    @include flex-column-center;
    background-color: #0e1115;
    margin-top: 30px;

    img {
        width: 20%;
    }

    .social-icons {
        display: flex;
        flex-direction: row;
        color: #fff;
        margin: 20px;

        .fa-facebook {
            background-color: #3b5998;
            margin: 0px 5px;
            padding: .5em;
            font-size: 20px;
            line-height: 25px;
            border-radius: 20%;
        }

        .fa-youtube {
            background-color: #cd201f;
            margin: 0px 5px;
            padding: .5em;
            font-size: 20px;
            line-height: 25px;
            border-radius: 20%;
        }

        .fa-instagram {
            background-color: #E1306C;
            margin: 0px 5px;
            padding: .5em;
            font-size: 20px;
            line-height: 25px;
            border-radius: 20%;
        }
    }

    span {
        color: #fff;
        font-size: 13px;
    }
}