// VARIALBES 

$color-headers: #313333;
$btn-color: #E89800;

// MIXIN PROYECTO

@mixin flex-column-center { // FLEX EN COLUMNA CENTRADO
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flex-row-center { // FLEX EN FILA CENTRADO
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin h1-styles {
    // ESTILO BÁSICO H1
    color: $color-headers;
    font-family: "Montserrat", Sans-serif;
    font-size: 56px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
}

@mixin h2-styles {
    // ESTILO BÁSICO H2
    color: $color-headers;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 48px;
    margin: 10px 0;
}

@mixin h3-styles { // ESTILO BÁSICO H3
    font-family: "Poppins", Sans-serif;
    margin: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #313333;
    transition: all .4s ease;
}

@mixin p-styles { // ESTILO BÁSICO PÁRRAFO
    color: #313333;
            font-family: "Montserrat", Sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 1px;
}

@mixin separador { // SEPARADOR FINO
    width: 25%;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: #F9A40F;
    margin: 20px;
}

@mixin button-box {
    // BOTON CUADRADO
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: $btn-color;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: $btn-color;
    border-radius: 5px 5px 5px 5px;
    padding: 15px 30px;
    margin-bottom: 10px;

    &:hover {
        color: $btn-color;
        background-color: #FFFFFF;
        transition: all .3s;
    }
}

@mixin button-rounded {
    // BOTON REDONDEADO
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    background-color: $btn-color;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: $btn-color;
    border-radius: 25px;
    padding: 15px 30px 15px 30px;
    transition: all .4s ease;

    &:hover {
        color: #fff;
        background-color: #000;
        border-color: #000;
        transition: all .3s;
    }
}

@mixin service-box { // BOX SERVICIOS GRANDE
    margin: 40px;
    padding: 20px 15px;
    border-radius: 2px;
    text-align: center;
    background-color: #FFFFFF;
    -webkit-box-shadow: 7px 7px 7px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 7px -1px rgba(0, 0, 0, 0.75);
}

@mixin oservice-box { // BOX SERVICIOS EN CONJUNTO
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 25px 0px 25px;
    padding: 10px 10px 10px 10px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px 0px #F9A40F;
    height: 100%;
}

@mixin testimonials-box { // BOX TESTIMONIOS
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 310px;
    width: 272px;
    background-color: #FFFFFF;
    margin: 20px;
    padding: 20px 15px;
    border-radius: 20px;
    text-align: center;

    .img {
        width: 15%;
    }

    .star {
        color: #FEC42D;
    }
}